# dependências
node_modules/

# variáveis de ambiente
.env
backend/.env
frontend/.env

# builds
dist/
build/

# logs
*.log
npm-debug.log*

# sistema
.DS_Store
Thumbs.db

# uploads do sistema
backend/uploads/*
!backend/uploads/.gitkeep
!backend/uploads/residenciais/.gitkeep
!backend/uploads/apartamentos/.gitkeep
!backend/uploads/itens/.gitkeep