DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sua_senha_do_mysql
DB_NAME=praiastur_inventario

ADMIN_NAME=Usuário ADM
ADMIN_EMAIL=admin@praiastur.com.br
ADMIN_PASSWORD=123456

JWT_SECRET=sua_chave_secreta_aqui
JWT_EXPIRES_IN=1d

PORT=3000