.apartamentos-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.apartamentos-filters {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.apartamentos-filters label {
  flex: 1;
  min-width: 260px;
}